@import "vars";

body {
	font-family: "Lato", sans-serif;
}

.box-content{
	overflow: hidden;
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

#check{
	position: absolute;
	left: -999999px;
	visibility: hidden;
}

#check:checked ~ .nav{
	right: -2235px;
}

.header {
	position: relative;
	background-color: $backBlock;
	padding: 20px 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	&__left {
		display: flex;
		align-items: center;
		gap: $gap;
	}
	&__right {
		display: flex;
		align-items: center;
		gap: $gap;
		position: relative;
	}

	&__main-cart{
		position: relative;
	}
	
	&__number {
		background: rgb(241, 109, 127);
		padding: 1px 5px;
		text-align: center;
		border-radius: 50%;
		font-weight: 400;
		line-height: 14px;
		font-size: 12px;
		color: rgb(225, 225, 225);
		position: absolute;
		top: -8px;
		right: -8px;
	}
}

.nav {
	background: rgb(255, 255, 255);
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	width: 232px;
	padding: 32px;
	position: absolute;
	top: 55px;
	right: 0;
	z-index: 10;
	transition: right 0.3s;
	&__heading {
		color: $colorText;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		text-align: left;
		margin-bottom: 4px;
	}

	&__subheading {
		color: $colorSelectSite;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: left;
		margin-bottom: 12px;
		margin-top: 20px;
	}

	&__ul {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding-left: 22px;
	}

	&__link {
		color: rgb(111, 110, 110);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: left;
		&:hover{
			color: $colorSelectSite;
		}
	}
}

.icon:hover path {
	fill: rgb(241, 109, 127);
	transition: all 0.3s;
}

.top-head {
	background: #f8f3f4;
	padding: 60px 0 60px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__heading {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $colorSelectSite;
	}
}

.breadcrumbs {
	&__link {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #636363;
	}

	&__link_site {
		font-weight: 700;
		color: $colorSelectSite;
	}
}

.filter-sort {
	height: 132px;
	padding-top: 39px;
	position: relative;
	display: flex;
	gap: $gapGreed;
}

.filter {
	padding-top: 13px;
	width: 360px;
	position: relative;
	z-index: 10;

	&__content {
		background-color: #fff;
		padding: 0 16px 16px 16px;
	}

	&[open] {
		background: #fff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	}

	&[open] .filter__heading {
		color: $colorSelectSite;
	}

	&[open] path {
		fill: $colorSelectSite;
	}

	&__summary {
		display: flex;
		align-items: center;
		gap: 14px;
		padding-left: 16px;
	}

	&__heading {
		color: $colorText;
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		text-align: left;
	}

	&__item {
		margin-top: 16px;
	}

	&__head {
		margin-top: 16px;
		color: rgb(111, 110, 110);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: left;
		border-bottom: 1px solid rgb(235, 235, 235);
		border-left: 5px solid $colorSelectSite;
		padding: 8px 0 12px 11px;
	}

	&__link {
		color: rgb(111, 110, 110);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: left;
		&:hover {
			color: $colorSelectSite;
		}
	}

	&__link-box {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding: 24px 16px;
	}

	&__item[open] .filter__head {
		color: $colorSelectSite;
	}
}

.sort {
	padding-top: 12px;
	display: flex;
	gap: 28px;

	&__details {
		position: relative;
	}

	&__summary {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__check {
		display: flex;
		gap: 9px;
		align-items: center;
		color: rgb(111, 110, 110);
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}

	&__heading {
		color: rgb(111, 110, 110);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-align: left;
	}

	&__box {
		box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
		background: rgb(255, 255, 255);
		padding: 7px 30px 11px 10px;
		position: absolute;
		left: -9px;
		top: 22px;
		display: flex;
		flex-direction: column;
		gap: 9px;
	}
}

.product-box {
	display: flex;
	margin: 0 0 129px 0;
	gap: $gap;
}

.product {
	width: $thirdSite;
	display: flex;
	flex-direction: column;

	&__img {
		width: 100%;
	}

	&__content {
		background-color: rgb(248, 248, 248);
		padding: 24px 16px;
		display: flex;
		flex-direction: column;
		gap: $gap;
	}

	&__name {
		color: $colorText;
		font-size: 13px;
		font-weight: 400;
		text-align: left;
		text-decoration: none;
	}

	&__text {
		color: rgb(93, 93, 93);
		font-size: 14px;
		font-weight: 300;
		text-align: left;
	}

	&__price {
		color: $colorSelectSite;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
	}
}

.black {
	background: rgb(34, 34, 36);
	&__items {
		display: flex;
		gap: 30px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		padding: 103px 0;
		justify-content: center;
	}

	&__main {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		max-width: 360px;
	}

	&__main h4 {
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		color: rgb(251, 251, 251);
		margin: 19px 0 16px 0;
	}

	&__main p {
		font-family: Lato;
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		text-align: center;
		color: rgb(251, 251, 251);
	}
}

.subscribe {
	&__main {
		background-image: url(../img/photo_subscribe.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
		align-items: center;
		padding-top: 95px;
		padding-bottom: 126px;
	}

	&__item1 {
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		color: rgb(34, 34, 36);
		max-width: 360px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: $gapGreed;
	}

	&__item1 span {
		font-style: italic;
	}

	&__item2 h4 {
		font-size: 24px;
		font-weight: 700;
	}

	&__item2 {
		font-size: 18px;
		font-weight: 400;
		line-height: 167.2%;
		text-align: center;
		color: rgb(34, 34, 36);
	}
	&__item2 input {
		font-size: 14px;
		line-height: 17px;
		text-align: left;
		color: rgb(34, 34, 36);
		background: rgb(225, 225, 225);
		padding: 15px 22px;
		border-radius: 20px 0 0 20px;
		width: 250px;
		cursor: pointer;
	}

	&__item2 button {
		font-family: Lato;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: rgb(255, 255, 255);
		background: rgb(241, 109, 127);
		padding: 15px 22px;
		border-radius: 0 20px 20px 0;
		transition: 0.3s;
	}

	&__item2 input:focus::placeholder {
		color: transparent;
	}

	&__item2 button:hover {
		background-color: rgb(255, 255, 255);
		color: rgb(241, 109, 127);
	}

	&__form {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		margin-top: 32px;
	}
}

.footer {
	background-color: rgb(34, 34, 36);
}

.footermain {
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		color: rgb(251, 251, 251);
	}

	&__icon {
		display: flex;
		gap: 7px;
	}

	&__rectangle {
		background-color: rgb(225, 225, 225);
		width: 32px;
		height: 32px;
		transition: all 0.3s;
	}

	&__rectangle:hover {
		background-color: rgb(241, 109, 127);
	}

	&__rectangle:hover path {
		fill: rgb(251, 251, 251);
		padding: 32px;
		transition: all 0.3s;
	}
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}
