@import "vars";

.cart {
	padding-top: 96px;
	padding-bottom: 128px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// &__cards {
	// }

	&__card {
		display: flex;
		gap: $gapGreed;
		-webkit-box-shadow: 15px 15px 10px 0px rgba(111, 110, 110, 0.2);
		-moz-box-shadow: 15px 15px 10px 0px rgba(111, 110, 110, 0.2);
		box-shadow: 15px 15px 10px 0px rgba(111, 110, 110, 0.2);
		margin-bottom: 40px;
	}

	&__price {
		width: 390px;
		padding-top: 22px;
		position: relative;
	}

	&__ul {
		margin-top: 42px;
		font-size: 22px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
		color: rgb(87, 87, 87);
		display: flex;
		flex-direction: column;
		gap: 6px;
		&_color {
			color: $colorSelectSite;
		}
		&_quantity {
			border: 1px solid rgb(234, 234, 234);
			margin-left: 24px;
			width: 44px;
			height: 25px;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0%;
			text-align: center;
		}
	}

	&__head {
		color: $colorHeading;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
		text-align: left;
		width: 262px;
		display: block;
		&:hover {
			color: $colorSelectSite;
		}
	}

	&__img {
		width: 262px;
	}

	&__cross {
		position: absolute;
		top: 28px;
		right: 22px;
		&:hover path {
			fill: $colorSelectSite;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	&__button {
		font-size: 14px;
		font-weight: 300;
		line-height: 17px;
		text-align: left;
		border: 1px solid rgb(164, 164, 164);
		padding: 17px 40px;
		&:hover {
			color: white;
			background-color: rgb(164, 164, 164);
		}
		&_adress {
			width: 105px;
			padding: 10px 15px;
			color: rgb(74, 74, 74);
			font-size: 11px;
			font-weight: 300;
			line-height: 13px;
			text-align: left;
		}
		&_checkaut {
			color: white;
			background-color: $colorSelectSite;
			border: none;
			width: 275px;
			margin: 0 auto;
		}
	}

	&__adress {
		width: 360px;
		height: 272px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__heading {
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		text-align: left;
		color: $colorHeading;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__input {
		width: 360px;
		height: 45px;
		border: 1px solid rgb(164, 164, 164);
		color: $colorHeading;
		font-size: 13px;
		font-weight: 300;
		line-height: 16px;
		text-align: left;
		padding: 0 16px;
		&::placeholder {
			color: rgb(177, 177, 177);
		}
	}

	&__checkout {
		width: 360px;
		margin-top: 57px;
		padding-top: 39px;
		padding-bottom: 42px;
		background: rgb(245, 243, 243);
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: flex-end;
	}

	&__sub-total {
		color: rgb(74, 74, 74);
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		text-align: left;
		margin-right: 34px;
		&_price{
			margin-left: 10px;
		}
	}

	&__grand-total {
		color: $colorHeading;
		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
		text-align: left;
		margin-right: 37px;
		&_price {
			color: $colorSelectSite;
			margin-left: 10px;
		}
	}

	&__line {
		width: 275px;
		margin: 0 auto;
		height: 0;
		border: none;
		border-top: 1px solid rgb(226, 226, 226);
	}
}
